# Copy this file to .env and fill in your Binance Futures Testnet credentials.
# Never commit the real .env file to version control.

BINANCE_API_KEY=YXfyo85LlJ3xAiHGi1EYs4tIJi5WtWyiAphOtPbX3bHsQtb9ZVy2wOOt66baLV0K
BINANCE_API_SECRET=QSc3B0tf5Rj8zbdbHZewclM50eyWWBStgv2valqXnFRlzXgGpeGJw8W5wNbrGafj
